@model NETCOREM3_CodeFirst.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vehiculoPlaca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vehiculoPlaca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vehiculoMarca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vehiculoMarca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vehiculoModelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vehiculoModelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vehiculoFecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vehiculoFecha)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.vehiculoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
